html {
    box-sizing: border-box;

}

body {

    background: rgb(16, 28, 36);

}

.efeito-vidro {
    background-color: rgb(42 57 66);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);

}

.efeito-vidro-card {
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.rounded-circle {
    border-radius: 50%;
}

.error_msg {
    font-size: 14px;
    color: white;
    text-align: center;
}


.img-cat {
    display: none;
}



.cat-404 {
    display: none;
}


#inputLabel {
    color: #fff!important;
}

.color-white {
    color: #fff !important;

}


#alert-dialog-title,
#alert-dialog-description {
    color: white;
    background-color: rgb(16, 28, 36);
}

#btn-modal {
    color: white;
    background-color: rgb(30, 52, 66);
}

.stack button {
    color: rgb(16, 28, 36) !important;
    background-color: #fff !important;
}

.btns {

    background-color: '#005c4b' !important;
}


.menu {
    background-color: '#005c4b' !important;
}