html {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    /* border:1px solid red; */
    background: rgb(16, 28, 36);

}

.efeito-vidro {
    background-color: rgb(42 57 66);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);

}

.efeito-vidro-card {
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.rounded-circle {
    border-radius: 50%;
}

.error_msg {
    font-size: 14px;
    color: white;
    text-align: center;
}


.img-cat {
    display: none;
}

.withness {
    color: #fff;
    background-color: #fff;
}

#alert-dialog-title, #alert-dialog-description {
    color:white;
    background-color: rgb(16, 28, 36);
}

#btn-modal{
    color: white;
   background-color: rgb(30, 52, 66);   
}

